/* Navigation Bar Styles */
.navbar {
  padding: 0.5rem 1rem;
  background-color: #000; /* Black background */
  border-bottom: 1px solid #333; /* Darker border for better contrast */
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: black; /* White text */
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navbar-brand-img {
  width: 32px;
  height: 32px;
  margin-right: 0.5rem;
}

.navbar-toggler {
  border: none;
  background: none;
}

.navbar-toggler-icon {
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 1rem;
}

.nav-link {
  color: #fff; /* White text */
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  color: #007bff; /* Optional: highlight color on hover */
}

.nav-item.dropdown .dropdown-menu {
  border: 1px solid #333; /* Darker border for dropdown */
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  background-color: #000; /* Black background for dropdown */
}

.dropdown-item {
  color: #fff; /* White text */
  padding: 0.5rem 1rem;
}

.dropdown-item:hover {
  background-color: #333; /* Darker background on hover */
  color: #007bff; /* Optional: highlight color on hover */
}

.fas {
  margin-right: 0.5rem;
}

/* Responsive Styles */
@media (max-width: 992px) {
  .navbar-nav {
    text-align: center;
  }

  .navbar-nav .nav-item {
    margin-left: 0;
    margin-top: 0.5rem;
  }
}
